---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
		<a href="/about">About</a>
        <a href="/blog">Blog</a>

		<h1>Astro</h1>
		<h1>About Me</h1>
        <h2>This is another page of Astro site</h2>

        <p>Working on Astro introductory tutorial of creating a blog. This is a second page.</p>

        <p>This site is going to have multiple updates as I'm completing this tutorial. Wow!!</p>
	</body>
</html>
