---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Astro Learning Blog";
---

	<BaseLayout pageTitle={pageTitle}>
        <h2>Call an ambulance, call an ambulance... but not for me :)</h2>

        <p>This is a third page, I can't believe it.</p>

        <p>Jesus Christ</p>
        <ul>
            {allPosts.map((post) =>  <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
	</BaseLayout>

	